@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
    font-weight: 500;
}

ul {
    list-style: none;
    margin: 0;
}

input {
    border: none;
}

img {
    max-width: 100%;
}

html,
body {
  margin: 0 auto;
  padding: 0 !important;
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 1920px;
  height: 100%;
  font-family: 'Roboto', sans-serif; 
}

.h1_title {
    font-size: 48px;
}

.h2_title {
    font-size: 32px;
 }

.h3_text {
    font-size: 19px;
}

.section {
    max-width: 1920px;
    padding: 0;
    overflow: hidden;
}
/* .container {
    max-width: 1113px;
    padding: 0;
} */
.container-fluid {
    /* width: 1920px; */
    padding: 0;
}

.head {
    background: #EEEFF1;
    padding-top: 46px;
}  


.write_me {
    display: inline-flex;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    margin-top: 146px;
    margin-bottom: 146px;
}

.p_write_me, 
.p_text {
    font-size: 16px;
    line-height: 26.25px;
    color: #727272;
    padding-top: 50px;
}

.p_write_me {
    padding-top: 60px;
    padding-bottom: 60px;
}

.p_text {
    text-align: center;
}

.navbar {
    padding: 0;
    text-transform: uppercase;
}

.navbar li {
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    border: 0;
    outline: none;
    margin-right: 36px;   
}

.nav-link  {
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    color: #000000;  
}

.dropdown-menu {
    display: none;
    border: none;
    outline: none;
    margin-left: -1em;
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 600;
}
  
#dropdownMenuButton {
    position: absolute;
    top: 1em;
    background-color: #ffffff;
    color: #000000;
    border: none;
    outline: none;
    font-size: 1.5rem;
}

.button_write {
    width: 225px;
    height: 65px;
    background: #34547A;
    color: #ffffff;
    text-transform: uppercase;
}

.about_me {
    padding: 100px 0 100px 0;
}

.skillbar {
    background:  #34547A;
    color: white;
    padding: 100px 0 100px 0;
}

.skillbar_container-items {
    list-style-type: none;
}

.skillbar_container-item-text {
    padding-left: 10px;
}

.gallery {
    padding-top: 60px;
}

.img_gallery {
    object-fit: contain;
}

.p_project {
    color: #ffffff;
}

.work {
    padding: 100px 0 100px 0;
    background: #EEEFF1;
}

.my_skills {
    padding: 100px 0 100px 0;
}

.my_skills_title {
    padding-top: 100px;
}

.my_skills_progress {
    list-style-type: none;
    padding-top: 30px;
}

.skillbar_container-items {
    justify-content: center;
    align-items: center;
}

/* .img_my_skills {
    width: 555px;
    height: 450px;
} */

progress {
    height: 4px;
    width: 445px;
}

.video {
    padding-top: 57px;
    max-width: 100%;
}

.collage {
    padding-top: 28px;
}
.collage-img {
    height: 480px;
    cursor: pointer;
    position: relative;
    background-color: rgba(52, 84, 122, 0);
    transition: background-color 0.3s;
    object-fit: contain;
}

.collage-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(52,84,122);
    opacity: 0;
    background-image: url(./img/Vector.svg);
    background-position: 50% 50%;
    transition: opacity 0.3s;
    background-repeat: no-repeat;
}

.collage-img img {
    width: 100%;
    height: 480px;
    position: absolute;
}

.collage-img:hover::after {
    opacity: 0.8;
}

.board {
    padding: 72px 0 100px 0;
}

#inputMessage {
    height: 175px;
}

.footer {
    background: #34547A;
    display: flex;
    align-items: center;
    color: white;
    padding: 50px 0;
    flex-wrap: wrap;
    }

.form {
    background: #EEEFF1;
    padding: 100px 0 100px 0;
}

.my_form {
    padding-top: 50px;
}
.form-group-1 {
    padding: 0;
} 

.p-copy {
    margin-top: 32px;
    font-size: 12px;
}

.social-img {
    width: 43.75px;
    height: 40px;
}

.collage-item{
    width: 25%;
}

@media(max-width:1336px){
    .collage-item{
        width: 33%;
    }
}

@media(max-width:968px){
    .collage-item{
        width: 50%;
    }
}

@media(max-width:768px){
    .collage-item{
        width: 100%;
    }
   .my_skills_progress progress{
        width: 250px;
    }
}

@media(max-width:320px) {
    .button_write{
        width: 50%;
    }
}